body{
    height: 100%;
    overflow: hidden;
    background: ghostwhite;
}

html{
    height: 100%;
}

.sticker_body{
    width: 180px;
    height: 100px;
    background: wheat;
    border: 1px solid burlywood;
    position: absolute;
}

}
.sticker_button{
    width: 10%;
    height: 20%;
    float: right;
    background-color: chocolate;
}

.sticker_input{
    width: 80%;
    margin-left: 10%;
    margin-top: 15%;
    height: 25%;
}